<a id="skipToContent" class="skip-to-content" href="{settings.target.skipToContent}" tabindex="0"><f:translate key="jump_to_content" extensionName="skip_to_content" /></a>
<a id="skipToFooter" class="skip-to-content" href="{settings.target.skipToFooter}" tabindex="0"><f:translate key="jump_to_footer" extensionName="skip_to_content" /></a>
<f:if condition="{settings.mode} == 'js'">
    <f:asset.script identifier="skiptocontent-skipper" src="EXT:skip_to_content/Resources/Public/JavaScript/Skipper.js" />
</f:if>
